#NODE
PORT=3000

#MYSQL
MYSQL_HOST=localhost 
MYSQL_PASSWORD=password
MYSQL_DATABASE=collectif
MYSQL_LOCAL_PORT=3306
MYSQL_DOCKER_PORT=3306
MYSQL_USER=collectif_user
DATABASE_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:3306/${MYSQL_DATABASE}" 

#JWT COOKIE
JWT_SECRET=SECRET
JWT_EXPIRES_ACCESS=60s
COOKIE_EXPIRES_ACCESS=60000
JWT_EXPIRES_REFRESH=7d
JWT_EXPIRES_RESET=30m
JWT_EXPIRES_VERIFY=1h
JWT_SECRET_REFRESH=SECRETREFRESH
IS_PUBLIC_KEY=public

#FRONT
STORAGE=http://localhost:3000
FRONT_URL=http://localhost:5173
DOMAIN=localhost

#ROUNDCUBEMAIL
ROUNDCUBEMAIL_DEFAULT_HOST=ssl0.ovh.net
ROUNDCUBEMAIL_SMTP_SERVER=smtp.ovh.net
ROUNDCUBEMAIL_DEFAULT_IMAP_AUTH_TYPE=LOGIN
ROUNDCUBEMAIL_DEFAULT_SMTP_AUTH_TYPE=LOGIN
ROUNDCUBEMAIL_SMTP_PORT=465
ROUNDCUBEMAIL_SMTP_USER=collectif@imagindev.com
ROUNDCUBEMAIL_SMTP_PASS=mail_password

#SMTP
SEND_MAIL=true
SMTP_HOST=ssl0.ovh.net
SMTP_PORT=465  
SMTP_SECURE=true
SMTP_USERNAME=collectif@imagindev.com
SMTP_PASSWORD=mail_password
SMTP_FROM=noreply_collectif@imagindev.com
SMTP_FROM_NAME=Collectif
SMTP_BBC=collectif@imagindev.com

#DIVERS
LIMIT=10
ACCESS_COOKIE_NAME=__Host-access_token